
{% extends "BasePage.html" %}

{% block pageTitle %}
關於 LCCNET Fashion 
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
{% endblock %}

{% block mainContent %}
		<div class="about">
			<img src="/static/images/figure6.jpg" alt="">
			<h2>About Saverio Salermo</h2>
			<ul>
				<li>
					<a href=""><img src="/static/images/figure7.jpg" alt=""></a>
					<h3>We Have Free Templates for</h3>
					<p>
						Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/terms">Terms of Use</a>. You can even remove all our links if you
					</p>
				</li>
				<li>
					<a href=""><img src="/static/images/figure8.jpg" alt=""></a>
					<h3>We Have More Templates for You</h3>
					<p>
						Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and ﬁnd what you’re looking for. But if you don’t ﬁnd any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you’re looking for something diferent, something special. And we love the challenge of doing something diferent and something special.
					</p>
				</li>
				<li>
					<a href=""><img src="/static/images/figure9.jpg" alt=""></a>
					<h3>Be Part of Our Community</h3>
					<p>
						If you're experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forums/">on our forum</a> and meet other people in the community who share the same interests with you.
					</p>
				</li>
				<li>
					<a href=""><img src="/static/images/figure10.jpg" alt=""></a>
					<h3>Template details</h3>
					<p>
						Design version 8 <br> Code version 2
					</p>
					<p>
						Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/discuss/highfashion/">High Fashion Web Template</a>.
					</p>
					<p>
						Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.
					</p>
					<p>
						Please feel free to remove some or all the text and links of this page and replace it with your own About
					</p>
				</li>
			</ul>
		</div>

{% endblock %}