{% extends "BasePage.html" %}

{% block pageTitle %}
LCCNET Fashion Plus
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
{% endblock %}

{% block mainContent %}
		<div class="collections">
			<div class="navigation">
				<ul>
					<li class="selected">
						<a href="#">Summer 2023</a>
					</li>
					<li>
						<a href="#">Spring 2023</a>
					</li>
					<li>
						<a href="#">Evening 2023</a>
					</li>
					<li>
						<a href="#">Winter 2023</a>
					</li>
					<li>
						<a href="#">Autumn 2023</a>
					</li>
					<li>
						<a href="#">The Forever Collection</a>
					</li>
				</ul>
			</div>
			<div>
				<h2>Summer 2023 Collection</h2>
				<ul>
					<li>
						<a href="#"><img src="images/figure11.jpg" alt=""></a>
					</li>
					<li>
						<a href="#"><img src="images/figure12.jpg" alt=""></a>
					</li>
					<li>
						<a href="#"><img src="images/figure13.jpg" alt=""></a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="#"><img src="images/figure14.jpg" alt=""></a>
					</li>
					<li>
						<a href="#"><img src="images/figure15.jpg" alt=""></a>
					</li>
					<li>
						<a href="#"><img src="images/figure16.jpg" alt=""></a>
					</li>
				</ul>
			</div>
		</div>
{% endblock %}